<div class="ui attached inverted segment">
    <div class="ui inverted relaxed divided list">
        {% for item in list %}
            <div class="item">
                {{item}}
            </div>
        {% endfor %}
        <div class="item">
            <form class="ui inline inverted form" action="todos/add/" method="post">
                {% if this.getElementByID("multiple") %}
                    <div class="two fields _form">
                        <textarea placeholder="Saisir vos éléments sur chaque ligne" name="elements" rows="5"></textarea>
                       <button class="ui mini green icon button"><i class="ui check circle outline icon"></i></button>
                    </div>
                {% else %}
                    <div class="field _form">
                      <input placeholder="Nouvel élément" name="element">
                    </div>
                {% endif %}
            </form>
        </div>
    </div>
</div>
<h1 class="ui center aligned icon header inverted disabled">
    <i class="huge circular sticky tasks icon"></i>
    Todo lists
</h1>