<div class="ui inverted segment">
    <div class="ui inverted relaxed divided list">
    {% for item in list %}
        <div class="item">
            {{item}}
        </div>
        {% endfor %}
        <div class="item">
            <form class="ui inline inverted form" action="{{ path('todos.add') }}" method="post"></form>
            <div class="two fields _form" style="display:none">
                <textarea placeholder="Saisir vos éléments sur chaque ligne" name="elements" rows="5"></textarea>
                <button class="ui mini green icon button"></button><i class="ui check circle outline icon"></i>
            </div>
            <div class="field _form">
                <input placeholder="Nouvel éléments" name="element">
            </div>

        </div>
    </div>
</div>