<h3 class="ui block header">
    Menu
    <button class="ui yellow button">_userInfo</button>
    <button class="ui labeled icon button"><i class="shop icon"></i>Panier</button>
</h3>
<div>
    <fieldset>
        <legend>Store</legend>
        <button class="ui secondary button">Mes commandes</button>
        <button class="ui secondary button">Parcourir le store</button>
    </fieldset>
    <fieldset>
        <legend>Paniers</legend>
        <button class="ui green button">Nouveau...</button>
        <button class="ui secondary button">Mes paniers</button>
    </fieldset>
    <br>
    <fieldset>
        <legend>Promotions en cours</legend>
    </fieldset>
    <br>
    <fieldset>
        <legend>Consulté récement</legend>
        <h1>Nom de la section</h1>
    </fieldset>

</div>
