<div class="column">
	{% block _before %}
	<div class="ui segment">
		{% endblock %}
		{% block _form %}
			<form id="frm-login" class="ui large form" name="frm-login" method="post" action="{{action}}">
				{% block _header %}
					<div class="ui message">
						<h4>Connection</h4>
					</div>
				{% endblock %}
				{% block _fields %}
					<div class="two fields">
						{% block _fieldLogin %}
							<div class="field required">
								<label for="{{loginInputName}}">{{loginLabel}}</label>
								<div class="ui left icon input">
									<i class="user icon"></i>
									{% block _login %}
										<input id="{{loginInputName}}" name="{{loginInputName}}" type="text" placeholder="{{loginLabel}}">
									{% endblock %}
								</div>
							</div>
						{% endblock %}
						{% block _fieldPassword %}
							<div class="field required">
								<label for="{{passwordInputName}}">{{passwordLabel}}</label>
								<div class="ui left icon input">
									<i class="lock icon"></i>
									{% block _password %}
										<input id="{{passwordInputName}}" name="{{passwordInputName}}" type="password">
									{% endblock %}
								</div>
							</div>
						{% endblock %}
					</div>
					{% block _extraFields %}
						<div class="two fields">
							{% block _fieldRemember %}
								<div class="field">
									<div class="ui checkbox">
										<input id="ck-remember" name="ck-remember" value="1" type="checkbox" placeholder="Remember" tabindex="0" class="hidden">
										<label for="ck-remember">{{rememberCaption}}</label>
									</div>
								</div>
							{% endblock %}
						</div>
					{% endblock %}
				{% endblock %}
				{% block _buttons %}
					<button class="ui fluid large teal submit button">Valider</button>
				{% endblock %}
			</form>
		{% endblock %}
		{% block _after %}
	</div>
	{% endblock %}
</div>
